[Unit]
Description=My QR Service
After=cellular.target

[Service]
Type=idle
EnvironmentFile=/boot/env.conf
ExecStart=/usr/bin/node /home/epes/node-persunf-mvp-pi/index.js
StandardOutput=append:/home/epes/logs/servicestart.log
StandardError=append:/home/epes/logs/error.log
User=epes
Group=epes

[Install]
WantedBy=multi-user.target
