[Unit]
Description=My QR Service
After=multi-user.target

[Service]
Type=idle
EnvironmentFile=/home/armasuisse/node-persunf-mvp-pi/env.conf
ExecStart=/usr/bin/node /home/armasuisse/node-persunf-mvp-pi/index.js
StandardOutput=append:/home/armasuisse/logs/servicestart.log
StandardError=append:/home/armasuisse/logs/error.log
User=armasuisse
Group=armasuisse

[Install]
WantedBy=multi-user.target
