html 
    head
        title= title
        meta(name='viewport', content='width=device-width, initial-scale=1')
    body
        header 
        section 
            div(class="container") 
                p loading...

script.

    function loop() {         
        setTimeout(() => {   
            window.location.reload();
            loop();
        }, 500)
    }
    loop();